In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("game_new_dataset.csv")
df

,title,description,genres
0,Giganten,"Giganten could be briefly described as ""Dinosa...","['Abstract Strategy', 'Animals', 'Prehistoric']"
1,Rommel at the Meuse,(from Simulations Workshop website:)The German...,"['Wargame', 'World War II']"
2,Schwarz-Rot-Gold,The game is played on a 3x4 grid with pieces i...,['Abstract Strategy']
3,Sculley,This is a very simple game consisting of a boa...,"['Dice', 'Nautical']"
4,The Warriors of the Green Planet Trilogy of Ga...,A set of additional rules for combining War of...,"['Expansion for Base-game', 'Science Fiction',..."
...,...,...,...
15065,VeggieTales Seek & Match Board Game,"Help Jimmy Gourd find his cheeseburger, Bob th...","['Memory', 'Movies / TV / Radio theme', 'Relig..."
15066,The Nurses Game,Simple roll and move game from IDEAL. The Nurs...,"['Medical', 'Movies / TV / Radio theme']"
15067,Rex Morgan M.D.,Rex Morgan MD Game is from the Sunday Funnies ...,['Medical']
15068,America: Kate Smith's Own Game,"Kate Smith, the famous singer and radio star f...",['Roll / Spin and Move']
15069,Memoir '44: Air Pack,This expansion for Memoir '44 includes eight p...,"['Aviation / Flight', 'Expansion for Base-game..."

In [3]:
df.isna().sum()

title          0
description    0
genres         0
dtype: int64

In [4]:
df=df.dropna()

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15070 entries, 0 to 15069
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        15070 non-null  object
 1   description  15070 non-null  object
 2   genres       15070 non-null  object
dtypes: object(3)
memory usage: 470.9+ KB

In [7]:
df.title.value_counts()

Blockade                 5
Grand Prix               4
Arena                    4
Blackout                 4
Happy Landing            4
                        ..
Samurai Wargame Rules    1
Montcalm & Wolfe         1
Starhound                1
England Expects          1
Memoir '44: Air Pack     1
Name: title, Length: 14798, dtype: int64

In [8]:
df.title.unique

<bound method Series.unique of 0                                                 Giganten
1                                      Rommel at the Meuse
2                                         Schwarz-Rot-Gold
3                                                  Sculley
4        The Warriors of the Green Planet Trilogy of Ga...
                               ...
15065                  VeggieTales Seek & Match Board Game
15066                                      The Nurses Game
15067                                      Rex Morgan M.D.
15068                       America: Kate Smith's Own Game
15069                                 Memoir '44: Air Pack
Name: title, Length: 15070, dtype: object>

In [9]:
df.description.unique

<bound method Series.unique of 0        Giganten could be briefly described as "Dinosa...
1        (from Simulations Workshop website:)The German...
2        The game is played on a 3x4 grid with pieces i...
3        This is a very simple game consisting of a boa...
4        A set of additional rules for combining War of...
                               ...
15065    Help Jimmy Gourd find his cheeseburger, Bob th...
15066    Simple roll and move game from IDEAL. The Nurs...
15067    Rex Morgan MD Game is from the Sunday Funnies ...
15068    Kate Smith, the famous singer and radio star f...
15069    This expansion for Memoir '44 includes eight p...
Name: description, Length: 15070, dtype: object>

In [10]:
df.genres.unique

<bound method Series.unique of 0          ['Abstract Strategy', 'Animals', 'Prehistoric']
1                              ['Wargame', 'World War II']
2                                    ['Abstract Strategy']
3                                     ['Dice', 'Nautical']
4        ['Expansion for Base-game', 'Science Fiction',...
                               ...
15065    ['Memory', 'Movies / TV / Radio theme', 'Relig...
15066             ['Medical', 'Movies / TV / Radio theme']
15067                                          ['Medical']
15068                             ['Roll / Spin and Move']
15069    ['Aviation / Flight', 'Expansion for Base-game...
Name: genres, Length: 15070, dtype: object>

In [11]:
#df['genres'] = df['genres'].str.replace('"', '', regex=False)
#df

In [12]:
df[df.description ==' ']

Empty DataFrame
Columns: [title, description, genres]
Index: []

In [13]:
df[df.genres ==' ']

Empty DataFrame
Columns: [title, description, genres]
Index: []

In [14]:
def list_of_genre(genres):
  for genre in df.genres.to_list():
    genre_list=eval(genre)

In [15]:
df

,title,description,genres
0,Giganten,"Giganten could be briefly described as ""Dinosa...","['Abstract Strategy', 'Animals', 'Prehistoric']"
1,Rommel at the Meuse,(from Simulations Workshop website:)The German...,"['Wargame', 'World War II']"
2,Schwarz-Rot-Gold,The game is played on a 3x4 grid with pieces i...,['Abstract Strategy']
3,Sculley,This is a very simple game consisting of a boa...,"['Dice', 'Nautical']"
4,The Warriors of the Green Planet Trilogy of Ga...,A set of additional rules for combining War of...,"['Expansion for Base-game', 'Science Fiction',..."
...,...,...,...
15065,VeggieTales Seek & Match Board Game,"Help Jimmy Gourd find his cheeseburger, Bob th...","['Memory', 'Movies / TV / Radio theme', 'Relig..."
15066,The Nurses Game,Simple roll and move game from IDEAL. The Nurs...,"['Medical', 'Movies / TV / Radio theme']"
15067,Rex Morgan M.D.,Rex Morgan MD Game is from the Sunday Funnies ...,['Medical']
15068,America: Kate Smith's Own Game,"Kate Smith, the famous singer and radio star f...",['Roll / Spin and Move']
15069,Memoir '44: Air Pack,This expansion for Memoir '44 includes eight p...,"['Aviation / Flight', 'Expansion for Base-game..."

In [16]:
df[df['genres'].apply(lambda x: len(x) >= 2)]

,title,description,genres
0,Giganten,"Giganten could be briefly described as ""Dinosa...","['Abstract Strategy', 'Animals', 'Prehistoric']"
1,Rommel at the Meuse,(from Simulations Workshop website:)The German...,"['Wargame', 'World War II']"
2,Schwarz-Rot-Gold,The game is played on a 3x4 grid with pieces i...,['Abstract Strategy']
3,Sculley,This is a very simple game consisting of a boa...,"['Dice', 'Nautical']"
4,The Warriors of the Green Planet Trilogy of Ga...,A set of additional rules for combining War of...,"['Expansion for Base-game', 'Science Fiction',..."
...,...,...,...
15065,VeggieTales Seek & Match Board Game,"Help Jimmy Gourd find his cheeseburger, Bob th...","['Memory', 'Movies / TV / Radio theme', 'Relig..."
15066,The Nurses Game,Simple roll and move game from IDEAL. The Nurs...,"['Medical', 'Movies / TV / Radio theme']"
15067,Rex Morgan M.D.,Rex Morgan MD Game is from the Sunday Funnies ...,['Medical']
15068,America: Kate Smith's Own Game,"Kate Smith, the famous singer and radio star f...",['Roll / Spin and Move']
15069,Memoir '44: Air Pack,This expansion for Memoir '44 includes eight p...,"['Aviation / Flight', 'Expansion for Base-game..."

In [17]:
df[df['genres'].apply(lambda x: len(x) < 2)]

Empty DataFrame
Columns: [title, description, genres]
Index: []

In [18]:
df['genres']=df[df['genres'].apply(len) > 15]["genres"].reset_index(drop=True)

In [19]:
df.isna().sum()

title             0
description       0
genres         2431
dtype: int64

In [20]:
df=df.dropna()

In [21]:
df

,title,description,genres
0,Giganten,"Giganten could be briefly described as ""Dinosa...","['Abstract Strategy', 'Animals', 'Prehistoric']"
1,Rommel at the Meuse,(from Simulations Workshop website:)The German...,"['Wargame', 'World War II']"
2,Schwarz-Rot-Gold,The game is played on a 3x4 grid with pieces i...,['Abstract Strategy']
3,Sculley,This is a very simple game consisting of a boa...,"['Dice', 'Nautical']"
4,The Warriors of the Green Planet Trilogy of Ga...,A set of additional rules for combining War of...,"['Expansion for Base-game', 'Science Fiction',..."
...,...,...,...
12634,Monopoly: Middlesbrough,The classic Monopoly with constructions and ot...,"['Card Game', 'Party Game']"
12635,Monopoly: Newcastle & Gateshead,The classic Monopoly with constructions and ot...,"['Memory', 'Movies / TV / Radio theme', 'Relig..."
12636,Monopoly: Newcastle United Football Club,The classic boardgame takes on a new shape in ...,"['Medical', 'Movies / TV / Radio theme']"
12637,Monopoly: University of Newcastle Upon Tyne,The classic Monopoly with elements from the Un...,['Roll / Spin and Move']
12638,Monopoly: Northern Ireland,A monopoly (from Greek monos μόνος (alone or s...,"['Aviation / Flight', 'Expansion for Base-game..."

In [ ]:
#df['genres'] = df['genres'].replace("Children's Game", 'Children Game')

In [ ]:
#df[df['genres'] == "Children's Game"]

In [22]:
df.to_csv("game_new_dataset_cleaned.csv",index=False)

In [23]:
df=pd.read_csv("game_new_dataset_cleaned.csv")

In [24]:
df

,title,description,genres
0,Giganten,"Giganten could be briefly described as ""Dinosa...","['Abstract Strategy', 'Animals', 'Prehistoric']"
1,Rommel at the Meuse,(from Simulations Workshop website:)The German...,"['Wargame', 'World War II']"
2,Schwarz-Rot-Gold,The game is played on a 3x4 grid with pieces i...,['Abstract Strategy']
3,Sculley,This is a very simple game consisting of a boa...,"['Dice', 'Nautical']"
4,The Warriors of the Green Planet Trilogy of Ga...,A set of additional rules for combining War of...,"['Expansion for Base-game', 'Science Fiction',..."
...,...,...,...
12634,Monopoly: Middlesbrough,The classic Monopoly with constructions and ot...,"['Card Game', 'Party Game']"
12635,Monopoly: Newcastle & Gateshead,The classic Monopoly with constructions and ot...,"['Memory', 'Movies / TV / Radio theme', 'Relig..."
12636,Monopoly: Newcastle United Football Club,The classic boardgame takes on a new shape in ...,"['Medical', 'Movies / TV / Radio theme']"
12637,Monopoly: University of Newcastle Upon Tyne,The classic Monopoly with elements from the Un...,['Roll / Spin and Move']
12638,Monopoly: Northern Ireland,A monopoly (from Greek monos μόνος (alone or s...,"['Aviation / Flight', 'Expansion for Base-game..."